@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
    width: 80%;
    margin: 24px auto;
    font-size: 1.2em;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 150px;
}

code, pre {
    background: #eee;
    border-radius: 4px;
    color: #666;
    font-family: 'Inconsolata';
    font-size: 16px;
}

code {
    padding: 2px 5px 2px 5px;
}

pre {
    padding: 16px;
}

.social {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.social a > img {
    width: auto;
    height: 40px;
}

pre > code {
    padding: 0
}

table {
    width: 100%;
}

table img {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    object-fit: cover;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li:last-child {
    margin-left: 12px;
}

nav ul a {
    text-decoration: none;
}

nav ul li.current > a {
    color: black;
    text-decoration: underline;
}

.survey-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #eee;
    padding: 8px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.survey-btn a {
    padding: 12px 16px;
    background: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
}


.survey-btn a:hover {
    background: #ff5555;
    text-decoration: underline;
}